:root[data-theme='dawn'] {
  --cp-surface: var(--cp-canvas-light);
}

:root[data-theme='dusk'] {
  --cp-surface: var(--cp-canvas-dusk);
}

:root[data-theme='dark'] {
  --cp-surface: var(--cp-canvas-dark);
}
